* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: "Arial", "Helvetica", sans-serif;
    background-color: aliceblue;
}

header {
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #CFCBC8;
}


ul {
    margin: 0;
}

.tab {
    font-size: 15px;
    color: #9A9A9A;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    margin-right: 12px;
    cursor: pointer;
    margin-left: 3%;
    line-height: 50px;
}

 #etsy-logo {
    position: relative;
    display: inline-block;
    width: 90px;
    left: 6%;
    vertical-align: middle;
    font-size: 20px;
    color: tomato;
}


.search-el {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CFCBC8;
    background: transparent;
    padding: 6px 10px;
    margin-left: 0;
    height: 34px;
    width: 250px;
    font-size: 14px;
    outline: none;
    color: #333;
    margin-left: 13%;
}

#container {
    width: 100%;
    margin-left: 3%;
}

.listing {
    position: relative;
    background-color: aliceblue;
    display: inline-block;
    border: 1px solid #CFCBC8;
    vertical-align: top;
    width: 240px;
    margin: 1%;
    border-radius: 5px;
}


.title-data {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
}


.seller-data {
    font-size: 12px;
    color: orange;
    padding-left: 5px;
    width: 100%;
}

.seller {
    display: inline-block;
    margin-top: 7px;
    width: 50%;
}

.price {
    position: relative;
    font-size: 12px;
    display: inline-block;
    color: tomato;
    width: 47%;
    text-align: right;
}

.detail-listing {
    display: inline-block;
    position: relative;
    background-color: white;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    display: inline-block;
    border: 1px solid #CFCBC8;
    vertical-align: top;
    width: 650px;
    margin: 2% 25%;
    border-radius: 5px;
}

.detail-title-data {
    font-size: 20px;
}

.detail-description-data {
    font-size: 14px;
    padding-top: 10px;
}

.detail-seller {
    display: inline-block;
    font-size: 20px;
    color: #9A9A9A;
    margin: 0;
    width: 50%;

}

.detail-price {
    position: relative;
    font-size: 20px;
    display: inline-block;
    color: tomato;
    width: 47%;
    text-align: right;
}